{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 160,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "semi": true
}
