@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #fe5f8f;
  --dark-pink: #c8417c;
  --light-pink: #faa3bd;
  --lighter-pink: #ffe7e7;
  --dark-blue: #141d34;
  --light-blue: #a1ccf2;
  --light-navy: #354265;
  --primary: #fdf9ec;
  --yellow: #fdff74;
  --scroll-bar-background: #2c3651;
  --chart-color-pie-base: #7c7bb8;
  --chart-color-pie-hover: #c3b4e9;
  --chart-color-1: #5320a6;
  --chart-color-2: #6831c1;
  --chart-color-3: #8b59dd;
  --chart-color-4: #a87dee;
  --chart-color-5: #c3b4e9;
  --page-background-start: #1c253f;
  --page-background-end: #4e3776;
  --window-panel-background: #e6deff3f;
  --window-panel-title-dark: #3f2c74;
  --window-panel-title-dark-dot-1: #a1ffee;
  --window-panel-title-dark-dot-2: #fdff74;
  --window-panel-title-dark-dot-3: #f262ff;
  --window-panel-title-light: #c5bbe1ca;
  --window-panel-title-light-dot-1: #39b9a1;
  --window-panel-title-light-dot-2: #ffc634;
  --window-panel-title-light-dot-3: #d762e1;

  --navbar-background-rgb: 25, 27, 33;
}

.glow {
  filter: drop-shadow(0 0 8px #fff8);
}

.bg-response {
  background: linear-gradient(114.14deg, rgba(68, 57, 150, 0.6) -9.7%, rgba(160, 131, 239, 0.6) 46.46%, rgba(255, 202, 208, 0.6) 110.85%);
  position: relative;
  z-index: 0;
}

.animated-underline {
  @apply relative;
}

.animated-underline::after {
  content: "";
  @apply absolute w-full scale-x-0 h-0.5 bottom-0 left-0 bg-pink cursor-pointer origin-bottom-right transition-transform duration-[250ms] ease-out;
}

.animated-underline:hover::after,
.animated-underline-box:hover .animated-underline::after {
  @apply scale-x-100 origin-bottom-left;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(92rem / 16);
  width: 100vw;
  overflow-x: hidden;
}

@-moz-document url-prefix() {
  /*
   * Firefox has a bug relating to smooth scrolling
   * https://github.com/vercel/next.js/issues/22858 
   */
  html {
    scroll-behavior: auto;
  }
}

body {
  color: var(--primary);
  margin: 0;
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  /* Font styling for body */
  font-size: calc(18rem / 16);
  font-weight: 500;
}

h1 {
  @apply text-yellow text-3xl md:text-4xl lg:text-5xl font-bold;
}

h2 {
  @apply text-yellow text-2xl md:text-3xl lg:text-4xl font-bold;
}

h3 {
  @apply text-yellow text-xl md:text-2xl lg:text-3xl font-bold;
}

p {
  @apply text-primary mt-6 md:text-lg lg:text-xl md:leading-8 lg:leading-10;
}

a {
  @apply text-light-pink no-underline;
  transition: color 0.5s ease-out;
}

a:hover {
  color: var(--lighter-pink);
}

/* Custom styles for scroll bars on chromium */
::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
  background: var(--bar-background);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--light-navy);
}
