@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #fe5f8f;
  --dark-pink: #dc538e;
  --darker-pink: #c8417c;
  --light-pink: #faa3bd;
  --lighter-pink: #ffe7e7;
  --lightest-pink: #ffbc9f;
  --dark-blue: #141d34;
  --light-blue: #a1ccf2;
  --navy: #0b2041;
  --light-navy: #354265;
  --orange: #f5917b;
  --light-orange: #ffc4a9;
  --lighter-orange: #ffddcd;
  --primary: #fdf9ec;
  --yellow: #fdff74;
  --light-green: #91f1ac;
  --bar-background: #2c3651;
  --chart-blue-light: #3472a8;
  --chart-blue-heavy: #559ad6;
  --chart-yellow-light: #fff0bb;
  --chart-yellow-heavy: #fbd961;
  --chart-green-light: #0f9635;
  --chart-green-heavy: #4bbc6b;
  --chart-pink-light: #ba4366;
  --chart-pink-heavy: #dd547d;
  --page-background-start: #1c253f;
  --page-background-end: #6e5796;
  --window-panel-background: #e6deff3f;
  --window-panel-title-dark: #3f2c74;
  --window-panel-title-dark-dot-1: #a1ffee;
  --window-panel-title-dark-dot-2: #fdff74;
  --window-panel-title-dark-dot-3: #f262ff;
  --window-panel-title-light: #c5bbe1ca;
  --window-panel-title-light-dot-1: #39b9a1;
  --window-panel-title-light-dot-2: #ffc634;
  --window-panel-title-light-dot-3: #d762e1;

  --navbar-background-rgb: 25, 27, 33;
}

.glow {
  filter: drop-shadow(0 0 8px #fff8);
}

.bg-response {
  background: linear-gradient(114.14deg, rgba(68, 57, 150, 0.6) -9.7%, rgba(160, 131, 239, 0.6) 46.46%, rgba(255, 202, 208, 0.6) 110.85%);
  position: relative;
  z-index: 0;
}

.chart-base {
  @apply transition-colors duration-[500ms];
  fill: var(--chart-light);
}

.chart-base:hover {
  fill: var(--chart-dark);
  filter: drop-shadow(0 0 0.5rem var(--chart-light));
}

.hover-shadow {
  @apply transition-all duration-[500ms];
}

.hover-shadow:hover {
  filter: drop-shadow(0 0 calc(4rem / 16) var(--pink));
}

.chart-blue {
  @apply chart-base;
  --chart-light: var(--chart-blue-light);
  --chart-dark: var(--chart-blue-heavy);
}

.chart-yellow {
  @apply chart-base;
  --chart-light: var(--chart-yellow-light);
  --chart-dark: var(--chart-yellow-heavy);
}

.chart-green {
  @apply chart-base;
  --chart-light: var(--chart-green-light);
  --chart-dark: var(--chart-green-heavy);
}

.chart-pink {
  @apply chart-base;
  --chart-light: var(--chart-pink-light);
  --chart-dark: var(--chart-pink-heavy);
}

.animated-underline {
  @apply relative;
}

.animated-underline::after {
  content: "";
  @apply absolute w-full scale-x-0 h-0.5 bottom-0 left-0 bg-pink cursor-pointer origin-bottom-right transition-transform duration-[250ms] ease-out;
}

.animated-underline:hover::after,
.animated-underline-box:hover .animated-underline::after {
  @apply scale-x-100 origin-bottom-left;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(92rem / 16);
  width: 100vw;
  overflow-x: hidden;
}

@-moz-document url-prefix() {
  /*
   * Firefox has a bug relating to smooth scrolling
   * https://github.com/vercel/next.js/issues/22858 
   */
  html {
    scroll-behavior: auto;
  }
}

body {
  color: var(--primary);
  margin: 0;
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  /* Font styling for body */
  font-size: calc(18rem / 16);
  font-weight: 500;
}

/* Page titles (e.g. Demographics) */
h1 {
  @apply text-yellow text-4xl font-bold;
}

/* Major section headings (e.g. About the Programs) */
h2 {
  @apply text-yellow text-3xl font-bold;
}

/* Minor section headings & questions (e.g. What Program Are You In?) */
h3 {
  @apply text-yellow text-2xl font-bold;
}

/* Titles within paragraphs (e.g. About the Programs -> Computer Science)*/
h4 {
  @apply text-yellow text-xl font-bold;
}

p {
  color: var(--primary-text);
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

a {
  color: var(--pink);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:hover {
  color: var(--light-pink);
}

/* Custom styles for scroll bars on chromium */
::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
  background: var(--bar-background);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--light-navy);
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
thead,
tbody,
tr,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 0.32rem 0.64rem;
}

thead tr {
  border-bottom: 1px solid white;
}

tbody tr:nth-child(2n) {
  background-color: var(--light-navy);
}
