.blueboxplot {
  fill: var(--chart-blue-light);
  transition: fill 0.5s ease-out;
}

.blueboxplot:hover {
  fill: var(--chart-blue-heavy);
  filter: drop-shadow(0 0 calc(4rem / 16) var(--primary-accent));
}

.pinkboxplot {
  fill: var(--primary-accent-light);
  transition: fill 0.5s ease-out;
}

.pinkboxplot:hover {
  fill: var(--primary-accent);
  filter: drop-shadow(0 0 calc(4rem / 16) var(--primary-accent));
}
