.sideWrapperCommon {
  background-color: var(--side-panel);
  display: flex;
  padding: calc(40rem / 16) calc(50rem / 16);
  margin: calc(65rem / 16) 0;
  width: 88%;
}

.wrapperRight {
  composes: sideWrapperCommon;
  align-self: end;
  margin-right: 0;
  border-radius: calc(200rem / 16) 0 0 calc(200rem / 16);
  flex-direction: row-reverse;
  padding-right: calc(50rem / 16);
}

.wrapperLeft {
  composes: sideWrapperCommon;
  align-self: start;
  margin-left: 0;
  border-radius: 0 calc(200rem / 16) calc(200rem / 16) 0;
  flex-direction: row;
  padding-left: calc(50rem / 16);
}

.noBackground {
  background: none;
  align-self: center;
}

.wrapperCenter {
  composes: sideWrapperCommon;
  flex-direction: column;
  text-align: center;
  gap: calc(25rem / 16);
  /* to match the 65px margin with the left/right variant:
    add 45px bottom margin, since internal wrapper contributes 20px for the center component
    0px top margin, since h3 contributes 45px and internal wrapper contributes 20px for the center component
   */
  margin: 0 0 calc(45rem / 16) 0;
  align-self: center;
}

.wrapperCenter .internalWrapper {
  margin: auto;
}

.wrapperNoBodyText {
  flex-direction: column;
}

.wrapperNoBodyText .internalWrapper {
  text-align: center;
}

.withBackground h3 {
  font-size: calc(32rem / 16);
  font-weight: 700;
  color: var(--chart-blue-heavy);
  margin-top: calc(24rem / 16);
  margin-bottom: calc(16rem / 16);
  letter-spacing: 0.075rem;
}

.withBackground a {
  color: var(--chart-blue-heavy);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

.withBackground a:hover {
  color: var(--chart-blue-light);
}

.withBackgroundCloud h3 {
  font-size: calc(32rem / 16);
  font-weight: 700;
  color: var(--chart-green-heavy);
  margin-top: calc(24rem / 16);
  margin-bottom: calc(16rem / 16);
  letter-spacing: 0.075rem;
}

.withBackgroundCloud a {
  color: var(--chart-green-heavy);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

.withBackgroundCloud a:hover {
  color: var(--chart-green-light);
}

.noBackgroundCloud {
  background: none;
  align-self: center;
}

.noBackgroundCloud h3 {
  font-size: calc(32rem / 16);
  font-weight: 700;
  color: var(--chart-yellow-heavy);
  margin-top: calc(24rem / 16);
  margin-bottom: calc(16rem / 16);
  letter-spacing: 0.075rem;
}

.noBackgroundCloud a {
  color: var(--chart-yellow-heavy);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

.noBackgroundCloud a:hover {
  color: var(--chart-yellow-light);
}

@media screen and (max-width: 900px) {
  .sideWrapperCommon {
    margin: auto;
    flex-direction: column;
    text-align: center;
    padding: 0;
    border-radius: 0;
    width: 100%;
  }

  .wrapperCenter .internalWrapper {
    margin: initial;
  }

  .wrapperCenter {
    padding: 0;
  }

  .horizontalScrollOnMobile {
    overflow-x: scroll;
  }

  .internalWrapper {
    /* Without this, some graphs will have an horizontal scroll bar thats not needed */
    overflow-x: auto;
  }
}

.internalWrapper {
  padding: calc(20rem / 16);
}

.internalWrapper p {
  font-size: calc(24rem / 16);
  opacity: 0.85;
  line-height: 1.25;
}

.textWrapper {
  /* We add this since we want the text to shrink before the graph ever shrinks */
  flex-shrink: 1000;
  /* So that text is still readable in the awkward 1000px width screen size */
  min-width: 200px;
}
