.group {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.moon {
  position: absolute;
  top: 0;
  right: 0;
}

.goose {
  position: absolute;
  top: 150px;
  right: 175px;
  transform: scaleX(-1);
}

@media screen and (max-width: 1600px) {
  .group {
    scale: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .group {
    scale: 50%;
  }
}

@media screen and (max-width: 800px) {
  .group {
    scale: 32%;
  }
}
