.tickLabel {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  fill: var(--label);
}

.line {
  transition: filter 0.5s ease-out;
}

.line:hover {
  filter: drop-shadow(0 0 calc(4rem / 16) var(--primary-accent));
  transition: filter 0.5s ease-out;
}

.wrapper {
  display: flex;
  width: min-content;
}

.legend {
  display: flex;
  margin: calc(16rem / 8);
  justify-content: center;
}

@media screen and (max-width: 900px) {
  /* To fix legend being cut off on mobile */
  .legend {
    justify-content: start;
  }
}
