.piePathWithBackground {
  fill: var(--chart-blue-light); /* Light Green Colour */
  /* fill: var(--tertiary-background); Gray Colour*/
  stroke: var(--label);
  stroke-width: 1px;
  stroke-dasharray: 0;
  stroke-linecap: round;
  transition: fill 0.5s ease-out;
}
.piePathWithoutBackground {
  fill: var(--chart-pink-light);
  stroke: var(--label);
  stroke-width: 1px;
  stroke-dasharray: 0;
  stroke-linecap: round;
  transition: fill 0.5s ease-out;
}

.labelPath {
  fill-opacity: 0;
}

.labelText {
  fill: white;
}

.group:hover > .piePathWithBackground {
  fill: var(--chart-blue-heavy);
  filter: drop-shadow(0px 0px calc(6rem / 16) var(--chart-blue-heavy));
}

.group:hover > .piePathWithoutBackground {
  fill: var(--chart-pink-heavy);
  filter: drop-shadow(0px 0px calc(6rem / 16) var(--chart-pink-heavy));
}
