.sections {
  display: flex;
  flex-direction: row;
  gap: calc(15rem / 16);
}

.sections h1 {
  flex: 3;
  text-align: right;
  margin: 0;
}

.separator {
  flex: 1;
  background-color: var(--label);
  height: calc(1rem / 16);
  width: 100%;
  margin-top: calc(30rem / 16);
}

.nav {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: calc(20rem / 16);
  margin-left: 0;
}

.nav li:first-child {
  margin-top: calc(18rem / 16);
}

.nav li .linkNumber {
  color: var(--secondary-accent);
  margin: 0;
  display: inline;
}

.nav li a {
  font-size: calc(24rem / 16);
  color: var(--primary-text);
}

.linkName:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: calc(1rem / 16);
  bottom: 0;
  left: 0;
  background-color: var(--primary-text);
  cursor: pointer;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.linkName:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.linkName {
  margin: 0;
  display: inline;
  position: relative;
}

@media screen and (max-width: 900px) {
  .sections {
    flex-direction: column;
  }

  .sections h1 {
    text-align: left;
  }
}
