.tooltip {
  font-family: "Lexend", sans-serif;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--label);
  pointer-events: none;
  padding: calc(10rem / 16);
  border-radius: calc(10rem / 16);
  font-size: calc(18rem / 16);
}

.header {
  color: var(--primary-background);
  margin: 0;
  font-size: calc(16rem / 16);
  font-weight: 700;
}

.body {
  color: var(--primary-background);
  margin-top: calc(5rem / 16);
  font-size: calc(16rem / 16);
}

.body p {
  color: var(--primary-background);
  margin: 0;
  padding: 0;
  font-size: calc(16rem / 16) !important;
}
